body {
    font-family: sans-serif;
    margin-top: 10px;
}

p, li {
    color: #475550;
    font-size: 16px;
}

h3 {
    color:#11a36a;
    font-size: 28px;;
}

h1 {
    color: #11a36a;
}

#cabecalho {
    border: 2px solid red;     
    padding:10px 0 20px;    
}

.header {
    /* border-top: 50px solid yellow; */
    /* border: 2px solid red; */
    background-image: url(images/smiling-image.jpg);
    background-size: cover; 
    background-position: 50% 25%;
    padding: 60px 40px 217px;    
}

.header-container{
    /* border: 2px solid red; */
    width: 50%;
    padding-left: 60px;
}

.header-container p{
    width: 80%;
}

.img-trybe{
    width: 130px;
}

#inscreva-se{
    border-radius: 4px;
    color: #11a36a;
    background-color: #ffffff;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-color: #11a36a;
    border-style: solid;
    border-width: 2px;    
}

#inscreva-se:hover{
    background-color: #11a36a;
    color: #ffffff;
}

.nomePessoas {
    color: #11a36a;
}

.you {
    color: #11a36a;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;    
} 

.fotoPerfil {
    border-radius: 100%;
}

.depoiments {
    color: #11a36a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

#botao {
    border-radius: 4px;
    color: #fff;
    background-color: #11a36a;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

#botao:hover{
    background-color: #178f61;
}