body {
    font-family: sans-serif;
    /* margin-top: 10px; */
    margin: 0;
    margin-top: 10px;
}

p, li {
    color: #475550;
    font-size: 16px;
}

h3 {
    color:#11a36a;
    font-size: 28px;;
}

h1 {
    color: #0a7e51;
}

#cabecalho {
    /* border: 2px solid #13ac76;      */
    padding:10px 0 20px;
    margin-bottom: 2px;
    margin-left: 70px;
}

.header {
    border: 2px solid rgb(255, 4, 213);    
    background-image: url(images/smiling-image.jpg);
    background-size: cover; 
    background-position:60px -85px;
    padding: 85px 10px 87px;    
}

.header-container{
    border: 2px solid;
}

.header-container p{
    /* border: 2px solid blue; */
    width: 40%;    
    margin-top: 60px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-bottom: 60px;
}

.header-container h1{
    /* border: 2px solid red; */
    font-size: 45px;
    width: 50%;    
}

#botao-ps{
    /* border: 2px solid blueviolet; */
    border-radius: 4px;
    color: #fff;
    background-color: #11a36a;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;        
    margin-left: 5%;
        
}

#botao-ps:hover{
    background-color: #178f61;
}

.img-trybe{
    width: 130px;
}

.text-centered{
    /* border: 2px solid rgb(46, 0, 250); */
    text-align: center;
    padding: 60px 20px 50px;
    width: 80%;
    margin: auto; 
}

.text-centered h3{
    margin-bottom: 4rem;
}

#inscreva-se{
    border-radius: 4px;
    color: #11a36a;
    background-color: #ffffff;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-color: #11a36a;
    border-style: solid;
    border-width: 2px;    
}

#inscreva-se:hover{
    background-color: #11a36a;
    color: #ffffff;
}

.nomePessoas {
    color: #11a36a;
}

.you {
    color: #11a36a;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;    
} 

.fotoPerfil {
    border-radius: 100%;
}

.depoiments {
    color: #11a36a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

#botao {
    border-radius: 4px;
    color: #fff;
    background-color: #11a36a;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

#botao:hover{
    background-color: #178f61;
}